@mixin color-palette {
  --primary: #fc4561;
  --primary-hover: #e33e57;
  --primary-active: #fd6a81;
  --white: #ffffff;
  --black: #000000;
  --dark-gray: #434242;
  --middle-gray: #939393;
  --light-gray: #f5f4f4;
}
